/* */

/* {box-sizing: border-box}*/

/* Add padding to containers */

.container {
    position: relative;

    width: 40%;

    background: rgb(139, 123, 123);
    color: whitesmoke;


    opacity: 90%;

    border-radius: 15px;

    margin: auto;
    padding: 30px;
}



.text_align {
    text-align: center;
}





/* Full width input fields*/

input[type=text],
input[type=password],
input[type=email],
input[type=tel] {
    display: inline-block;

    width: 100%;

    border: none;

    background: #f1f1f1;

    color: black;

    border-radius: 8px;

    margin: 5px 0px 22px 0px;
    padding: 15px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=tel]:focus {
    background-color: rgb(208, 240, 240);

    outline: none;

    color: black;
}

input[type=submit] {
    margin: 20px;
    padding: 10px 30px;
}



/* Add a blue text color to links*/

a {
    color: rgb(29, 226, 193);
}

p {
    color: white;
}

span {
    color: #ff1919a9;
}



hr {
    color: aliceblue;

    border-top: 1px solid #ecaef3;
}



/* Set a grey background color and center the text of the "sign in" section*/